<h1 class="heading">Password Generator</h1>

<div>
  <label class="label">Enter Length</label>
  <input class="input" (input)="onChangeLength($event.target!)" type="number" />
</div>

<div>
  <label class="label">Use Letters</label>
  <input (change)="onChangeCheckBox('letters')" type="checkbox" />
</div>

<div>
  <label class="label">Use Numbers</label>
  <input (change)="onChangeCheckBox('numbers')" type="checkbox" />
</div>

<div>
  <label class="label">Use Symbols</label>
  <input (change)="onChangeCheckBox('symbols')" type="checkbox" />
</div>

<div>
  <button
    (click)="onButtonClick()"
    [disabled]="!(passwordLength && ( useLetters || useNumbers || useSymbols))"
    class="button"
  >
    Generate!
  </button>
</div>

<div *ngIf="password">
  <label class="label">Your Password</label>
  <input class="input" [value]="password" />
</div>
